<a href="https://colab.research.google.com/github/freedomszeto/WeChatCompetition_2021/blob/main/WeChat_Data_competition_Freedom.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import Data**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
data_path='/content/drive/MyDrive/WeChat_Data_Competition'

In [3]:
from os import listdir
filenames =listdir(data_path)

import numpy as np
import pandas as pd

for i in np.arange(len(filenames)):
    if filenames[i][-3:]=='csv':
        vars()['df_'+filenames[i][:-4]] = pd.read_csv(data_path+'/'+filenames[i])
        print('df_'+filenames[i][:-4]+':'+str(len(vars()['df_'+filenames[i][:-4]])))
    else:
        pass

df_test_a:421985
df_feed_embeddings:106444
df_submit_demo_初赛a:421985
df_user_action:7317882
df_feed_info:106444

# **Data screening**

In [4]:
#Training Data (X) & (Y)
df_user_action.head(10)

   userid  feedid  date_  device  ...  click_avatar  forward  follow  favorite
0       8   71474      1       1  ...             0        0       0         0
1       8   73916      1       1  ...             0        0       0         0
2       8   50282      1       1  ...             0        0       0         0
3       8   11391      1       1  ...             0        0       0         0
4       8   27349      1       1  ...             0        0       0         0
5       8   30287      1       1  ...             0        0       0         0
6       8    1151      1       1  ...             0        0       0         0
7       8   69745      1       1  ...             0        0       0         0
8       8   22451      1       1  ...             0        0       0         0
9       8   97911      1       1  ...             0        0       0         0

[10 rows x 13 columns]

In [5]:
#Test data (X) -> to predict Y
df_test_a.head(10)

   userid  feedid  device
0   14298   67227       1
1   68356   91864       2
2   49925  104657       2
3   60529   23738       2
4  131482   69038       1
5   52981   33636       1
6   55058   22853       2
7   78168  100222       1
8  135784   78982       2
9   72975   81367       2

In [6]:
#feed_id (X)????
df_feed_embeddings.head(10)

   feedid                                     feed_embedding
0   46022  -0.02032269 0.06095614 0.11057708 0.03385210 0...
1   73903  -0.07594238 0.01796364 -0.00135112 -0.00333468...
2   88646  -0.05067272 -0.08208735 -0.01929738 -0.0150182...
3   24381  -0.06976026 0.00218324 0.04416835 0.06146711 -...
4   41542  -0.04981736 -0.03523079 0.03022859 0.06672543 ...
5   15622  -0.10077595 -0.01764622 0.03897166 -0.04593844...
6    5662  -0.07481042 -0.07795808 0.00200225 -0.02691050...
7    4282  -0.00903127 0.04316609 0.06915708 0.00960549 0...
8   26337  -0.04625623 -0.01046129 0.08407867 -0.00102488...
9   64025  -0.03590044 0.01959696 0.01913530 0.03326439 0...

In [7]:
#feed info 
df_feed_info.head(3)

   feedid  ...                                           asr_char
0   43549  ...  2203 26439 6243 33054 16435 16307 17070 24908 ...
1   77432  ...  7259 20851 5061 26207 17573 17531 15117 20072 ...
2   12921  ...                                                NaN

[3 rows x 15 columns]

In [8]:
df_submit_demo_初赛a.head(10)

   userid  feedid  read_comment      like  click_avatar   forward
0   14298   67227      0.880075  0.483832      0.722144  0.563880
1   68356   91864      0.769031  0.929535      0.186520  0.257904
2   49925  104657      0.932616  0.405896      0.142349  0.284657
3   60529   23738      0.143770  0.550933      0.316308  0.159592
4  131482   69038      0.139427  0.051200      0.295990  0.092229
5   52981   33636      0.073550  0.384265      0.085490  0.348019
6   55058   22853      0.188886  0.877843      0.251247  0.670633
7   78168  100222      0.470670  0.266480      0.934919  0.468340
8  135784   78982      0.788318  0.446627      0.961844  0.938570
9   72975   81367      0.958540  0.357957      0.310659  0.145679

# **Freedom's**

## **Data pre-processing**

### **- Feed embeding Data for (X)**

In [9]:
#Data (X) feed embedding
_list_embeddings=[]
_list_embeddings=[x.strip().split(' ') for x in df_feed_embeddings['feed_embedding'].tolist()]
#Convert string to float
_list_embeddings_num=[list(np.float_(lst)) for lst in  _list_embeddings]

In [10]:
#Data Columns (X) feed embedding
_list_Feed_columns=['X_' + str(sub) for sub in np.arange(len(_list_embeddings_num[0]))]

In [11]:
#Create feed embedding data
df_feed_X=pd.DataFrame(data=_list_embeddings_num,columns=_list_Feed_columns)
#Merge on FeedID
df_feed_embeddings_X=pd.merge(df_feed_embeddings['feedid'],df_feed_X, left_index=True, right_index=True)

In [12]:
# To release memory
del _list_embeddings_num 
del _list_embeddings

###----- Check Feed embeding Data

In [13]:
#Check NaN data
df_feed_embeddings_X.isnull().values.any()

False

In [14]:
df_feed_embeddings_X.head(3)

   feedid       X_0       X_1       X_2  ...     X_508     X_509     X_510     X_511
0   46022 -0.020323  0.060956  0.110577  ...  0.040727 -0.011228  0.001824  0.018544
1   73903 -0.075942  0.017964 -0.001351  ... -0.014045 -0.087243 -0.044992  0.014717
2   88646 -0.050673 -0.082087 -0.019297  ... -0.008750 -0.003565  0.013552  0.021545

[3 rows x 513 columns]

In [15]:
df_feed_embeddings_X.tail(3)

        feedid       X_0       X_1  ...     X_509     X_510     X_511
106441   66410 -0.006194  0.004365  ... -0.029440  0.040435  0.038833
106442    7919 -0.056616 -0.132325  ... -0.090922 -0.029644  0.043790
106443   30814 -0.031621  0.012202  ... -0.060238  0.002613  0.036961

[3 rows x 513 columns]

### **- Preparing Training Data (X) + (Y)**

In [ ]:
# test data columns
df_test_a.columns

Index(['userid', 'feedid', 'device'], dtype='object')

In [ ]:
# Submission data columns
df_submit_demo_初赛a.columns

Index(['userid', 'feedid', 'read_comment', 'like', 'click_avatar', 'forward'], dtype='object')

In [ ]:
# Y columns
_list_Ycolumns=df_test_a.columns.append(df_submit_demo_初赛a.columns) ###Combine Y columns
_list_Ycolumns = list(dict.fromkeys(_list_Ycolumns)) ### Remove duplicate items

In [ ]:
####Training Data
df_Training_Y=df_user_action[_list_Ycolumns] ###Y data

In [ ]:
# df_Training=pd.merge(df_Training_Y,df_feed_embeddings_X,on='feedid',how='left') # Merge with X

In [ ]:
df_Training_Y.head(2)

   userid  feedid  device  read_comment  like  click_avatar  forward
0       8   71474       1             0     1             0        0
1       8   73916       1             0     0             0        0

In [ ]:
df_feed_embeddings_X.head(2)

   feedid       X_0       X_1       X_2  ...     X_508     X_509     X_510     X_511
0   46022 -0.020323  0.060956  0.110577  ...  0.040727 -0.011228  0.001824  0.018544
1   73903 -0.075942  0.017964 -0.001351  ... -0.014045 -0.087243 -0.044992  0.014717

[2 rows x 513 columns]

In [ ]:
df_Training_Y.memory_usage(deep=True) * 1e-6

Index            0.000128
userid          58.543056
feedid          58.543056
device          58.543056
read_comment    58.543056
like            58.543056
click_avatar    58.543056
forward         58.543056
dtype: float64

In [ ]:
df_feed_embeddings_X.memory_usage(deep=True) * 1e-6

Index     0.000128
feedid    0.851552
X_0       0.851552
X_1       0.851552
X_2       0.851552
            ...
X_507     0.851552
X_508     0.851552
X_509     0.851552
X_510     0.851552
X_511     0.851552
Length: 514, dtype: float64

### **- EDA**

In [ ]:
_list_check=[]
_list_error=[]
_loop=1
for i in df_test_a['userid'].unique().tolist():
  if i in df_Training_Y['userid'].unique().tolist():
    _list_check.append(i)
  else:
    _list_error.append(i)
  print(_loop)
  _loop=_loop+1

In [ ]:
len(df_test_a['userid'].unique().tolist())

9757

In [ ]:
len(_list_check)

9757

In [ ]:
len(_list_error)

0

## **Build Model**